.DS_Store

*.playground/timeline.xctimeline
*.playground/playground.xcworkspace/
*.playground/xcuserdata/

xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

DerivedData/
build/
*.build/

.build/
.swiftpm/

*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/